{% extends 'base.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/plai-palette.css' %}">
{% endblock %}

{% block title %}Historial{% endblock %}

{% block content%}

    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for ejercicio in ejercicios %}
            <div class="col">
                <div class="card h-100 text-center">
                    <img src="{% static 'img/accounts/profile/example.gif' %}" alt="profile_photo" style="width: 100%; height: 20rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ ejercicio.nombre }}</h5>
                        <p class="card-text">{{ ejercicio.descripcion }}</p>

                        <a href="{% url 'poses:capturar' id_ejercicio=ejercicio.id %}" class="btn boton-primario px-5">Iniciar</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}