{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/plai-palette.css' %}">
{% endblock %}

{% block title %}Historial{% endblock %}


{% block content %}

    <div class="d-flex justify-content-between my-3">
        <h1>Historial de {{ usuario.last_name }}, {{ usuario.first_name }}</h1>

        <div>
            <a href="#" class="btn btn-danger my-1"><strong>PDF</strong></a>

            <a href="{% url 'accounts:home' %}" class="btn boton-secundario my-1 mx-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                </svg>
            </a>

        </div>
    </div>
    
    <table class="table">
        <thead class="table-primary">
            <tr>
            <th scope="col">Fecha y Hora</th>
            <th scope="col">Ejercicio</th>
            <th scope="col">Puntuacion</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="table-info">
        </tbody>
    </table>
{% endblock %}