{% extends 'base.html' %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'css/plai-palette.css' %}">
{% endblock%}

{% block title %}Editar{% endblock %}


{% block content %}


<h2>Editar Perfil</h2>
<hr>

<form method="POST">
    {% csrf_token %}

    <h3>Información Básica (Usuario)</h3>
    {# Los campos first_name, last_name, email #}
    {{ user_form.as_p }} 

    <hr>

    <h3>Detalles de Contacto</h3>
    {{ contacto_form.as_p }}

    <div class="text-center">
        <button type="submit" class="btn boton-primario">Guardar Cambios</button>
        <a class="btn boton-secundario" href="{% url 'accounts:profile' username=user.username %}">Cancelar</a>    
    </div>
    
</form>

{% endblock %}