:root {
    --primary-color : #0077b6;
    --secondary-color: #ff6b35;
    --third-color: #c9ecff;
    --accent: #82d4ff;
    --text: #000000;
    --background: #ffffff;
}

.block-primario {
    background-color: var(--primary-color);
    color: var(--background);
}

.boton-primario{
    background-color: var(--primary-color);
    color: var(--background);
    font-size: 1.3rem;
    font-weight: bold;
}

.boton-secundario {
    background-color: var(--secondary-color);
    color: var(--background);
    font-size: 1.3rem;
    font-weight: bold;
}

